.main {
  background-color: #f7ecde;
}
.header h1 {
  font-size: 50px;
  font-family: "Pacifico", cursive;
  position: relative;
  color: #352e28;
  isolation: isolate;
}

.header h1::before {
  content: "";
  position: absolute;
  width: 18%;
  height: 25%;
  bottom: 10px;
  background-color: #fec260;
  z-index: -1;
  transition: height 350ms;
}
.header:hover h1::before {
  height: 50%;
}

.bookmark-body {
  border-width: 2px 0 2px 0;
  border-style: dotted;
  border-color: #352e28;
}
.bookmark-body h2 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-submit {
  background-color: #d1512d;
}

.btn-warning {
  background-color: #9eb23b;
  color: #fff;
  border: none !important;
}
.btn-warning:hover {
  background-color: #8a9e23;
  color: #fff;
}

.btn-info {
  background-color: #eb1d36;
  color: #fff;

  border: none !important;
}
.btn-info:hover {
  background-color: #d30820;
  color: #fff;
}
